--
-- PostgreSQL database dump
--

\restrict tRmic02czLB0naz08F2i9E1VJc7BW7y0TgxvjNwhNC6rjZTwhBhBvxNflYbIRgJ

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: association_type; Type: TABLE DATA; Schema: public; Owner: chartracker
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.association_type DISABLE TRIGGER ALL;

INSERT INTO public.association_type (relationship_type_id, relationship_type, inverse_type_id) VALUES (4, 'Friend', NULL);
INSERT INTO public.association_type (relationship_type_id, relationship_type, inverse_type_id) VALUES (5, 'Rival', NULL);
INSERT INTO public.association_type (relationship_type_id, relationship_type, inverse_type_id) VALUES (3, 'Mentee', 2);


ALTER TABLE public.association_type ENABLE TRIGGER ALL;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_group DISABLE TRIGGER ALL;



ALTER TABLE public.auth_group ENABLE TRIGGER ALL;

--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.django_content_type DISABLE TRIGGER ALL;

INSERT INTO public.django_content_type (id, app_label, model) VALUES (1, 'admin', 'logentry');
INSERT INTO public.django_content_type (id, app_label, model) VALUES (2, 'auth', 'permission');
INSERT INTO public.django_content_type (id, app_label, model) VALUES (3, 'auth', 'group');


ALTER TABLE public.django_content_type ENABLE TRIGGER ALL;

--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_permission DISABLE TRIGGER ALL;

INSERT INTO public.auth_permission (id, name, content_type_id, codename) VALUES (1, 'Can add log entry', 1, 'add_logentry');
INSERT INTO public.auth_permission (id, name, content_type_id, codename) VALUES (2, 'Can change log entry', 1, 'change_logentry');
INSERT INTO public.auth_permission (id, name, content_type_id, codename) VALUES (3, 'Can delete log entry', 1, 'delete_logentry');


ALTER TABLE public.auth_permission ENABLE TRIGGER ALL;

--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_group_permissions DISABLE TRIGGER ALL;



ALTER TABLE public.auth_group_permissions ENABLE TRIGGER ALL;

--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_user DISABLE TRIGGER ALL;

INSERT INTO public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES (1, 'pbkdf2_sha256$600000$MGv24YlQbOOdloP784uXRe$nX3vFfa+/lfk6mkVkJxHBxMQXliFnsBGcHUX5UBKHdk=', '2026-05-05 07:31:27.504997+00', true, 'kim', '', '', 'kimberly.agrn@gmail.com', true, true, '2026-05-03 03:54:19.324766+00');


ALTER TABLE public.auth_user ENABLE TRIGGER ALL;

--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_user_groups DISABLE TRIGGER ALL;



ALTER TABLE public.auth_user_groups ENABLE TRIGGER ALL;

--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_user_user_permissions DISABLE TRIGGER ALL;



ALTER TABLE public.auth_user_user_permissions ENABLE TRIGGER ALL;

--
-- Data for Name: character_class; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.character_class DISABLE TRIGGER ALL;

INSERT INTO public.character_class (char_class_id, char_class_name) VALUES (1, 'Barbarian');
INSERT INTO public.character_class (char_class_id, char_class_name) VALUES (2, 'Bard');
INSERT INTO public.character_class (char_class_id, char_class_name) VALUES (3, 'Cleric');


ALTER TABLE public.character_class ENABLE TRIGGER ALL;

--
-- Data for Name: character_race; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.character_race DISABLE TRIGGER ALL;

INSERT INTO public.character_race (char_race_id, char_race_name) VALUES (1, 'Aarakocra');
INSERT INTO public.character_race (char_race_id, char_race_name) VALUES (2, 'Aasimar');
INSERT INTO public.character_race (char_race_id, char_race_name) VALUES (3, 'Aasimar - Fallen');


ALTER TABLE public.character_race ENABLE TRIGGER ALL;

--
-- Data for Name: character; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public."character" DISABLE TRIGGER ALL;

INSERT INTO public."character" (character_id, char_name, char_origin, backstory_summary, created_at, updated_at, char_class_id, race_id, user_id) VALUES (3, 'Arsillia', 'Faerun', 'Grew up in the shadows of her own grandfather.', '2026-05-05 05:11:12.633266+00', '2026-05-05 07:03:57.018781+00', 14, 60, 1);
INSERT INTO public."character" (character_id, char_name, char_origin, backstory_summary, created_at, updated_at, char_class_id, race_id, user_id) VALUES (6, 'Nazzin', 'Faerun', 'Silly little guy who grew up in a forest.', '2026-05-05 07:32:24.606987+00', '2026-05-05 07:32:24.607+00', 14, 88, 1);
INSERT INTO public."character" (character_id, char_name, char_origin, backstory_summary, created_at, updated_at, char_class_id, race_id, user_id) VALUES (1, 'Scenery', 'Earth (Human world)', 'Scenery SUCKS haha jk shes cool', '2026-05-03 03:58:52.817912+00', '2026-05-05 07:32:48.379423+00', 15, 94, 1);


ALTER TABLE public."character" ENABLE TRIGGER ALL;

--
-- Data for Name: character_association; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.character_association DISABLE TRIGGER ALL;

INSERT INTO public.character_association (id, created_at, from_character_id, relationship_type_id, to_character_id) VALUES (13, '2026-05-05 06:38:27.755019+00', 3, 4, 1);
INSERT INTO public.character_association (id, created_at, from_character_id, relationship_type_id, to_character_id) VALUES (14, '2026-05-05 06:36:01.110346+00', 3, 5, 1);
INSERT INTO public.character_association (id, created_at, from_character_id, relationship_type_id, to_character_id) VALUES (22, '2026-05-05 07:32:31.105808+00', 6, 4, 1);


ALTER TABLE public.character_association ENABLE TRIGGER ALL;

--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.django_admin_log DISABLE TRIGGER ALL;

INSERT INTO public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) VALUES (1, '2026-05-03 03:58:52.821064+00', '1', 'Scenery', 1, '[{"added": {}}]', 10, 1);
INSERT INTO public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) VALUES (2, '2026-05-03 04:01:11.02569+00', '1', 'Coworker', 1, '[{"added": {}}]', 7, 1);
INSERT INTO public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) VALUES (3, '2026-05-03 04:01:32.096541+00', '2', 'Mentor', 1, '[{"added": {}}]', 7, 1);


ALTER TABLE public.django_admin_log ENABLE TRIGGER ALL;

--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.django_migrations DISABLE TRIGGER ALL;

INSERT INTO public.django_migrations (id, app, name, applied) VALUES (1, 'contenttypes', '0001_initial', '2026-05-03 03:49:22.649761+00');
INSERT INTO public.django_migrations (id, app, name, applied) VALUES (2, 'auth', '0001_initial', '2026-05-03 03:49:24.429334+00');
INSERT INTO public.django_migrations (id, app, name, applied) VALUES (3, 'admin', '0001_initial', '2026-05-03 03:49:24.768946+00');


ALTER TABLE public.django_migrations ENABLE TRIGGER ALL;

--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: chartracker
--

ALTER TABLE public.django_session DISABLE TRIGGER ALL;

INSERT INTO public.django_session (session_key, session_data, expire_date) VALUES ('2ifyt8mlut1i865tcpdiruvztd4q5d4s', '.eJxVjMEOwiAQRP-FsyELLVA8eu83kGUXbNVAUtqT8d9tkx40c5v3Zt4i4LZOYWtpCTOLq1Di8ttFpGcqB-AHlnuVVMu6zFEeijxpk2Pl9Lqd7t_BhG3a124YPHrTDamznqOOJloLihw4YkiAYFQEzJB7zaT3GFSYNam-Y0NJfL7VSzgS:1wJOaq:bbT77_3fBtcMag9XZwqJI66MR5zQThnwckT_qC-Bthw', '2026-05-17 04:38:12.392892+00');
INSERT INTO public.django_session (session_key, session_data, expire_date) VALUES ('rs0zd6scb5fc391peisu5yi48isbvdic', '.eJxVjMEOwiAQRP-FsyELLVA8eu83kGUXbNVAUtqT8d9tkx40c5v3Zt4i4LZOYWtpCTOLq1Di8ttFpGcqB-AHlnuVVMu6zFEeijxpk2Pl9Lqd7t_BhG3a124YPHrTDamznqOOJloLihw4YkiAYFQEzJB7zaT3GFSYNam-Y0NJfL7VSzgS:1wKAFb:kj2WrjOYU1QdEQESEok5eKfsjRs6Js5NxJYR2SYdU7U', '2026-05-19 07:31:27.638609+00');


ALTER TABLE public.django_session ENABLE TRIGGER ALL;

--
-- Name: association_type_relationship_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.association_type_relationship_type_id_seq', 5, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 44, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: character_association_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.character_association_id_seq', 23, true);


--
-- Name: character_character_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.character_character_id_seq', 6, true);


--
-- Name: character_class_char_class_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.character_class_char_class_id_seq', 18, true);


--
-- Name: character_race_char_race_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.character_race_char_race_id_seq', 165, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 34, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 11, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chartracker
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- PostgreSQL database dump complete
--

\unrestrict tRmic02czLB0naz08F2i9E1VJc7BW7y0TgxvjNwhNC6rjZTwhBhBvxNflYbIRgJ

