--
-- PostgreSQL database dump
--

\restrict jSsOCBQznaYeebAyUecOhMXMGbmyy6FglAgzclVYWhXg4FN4dDNnlNunoSYJZAU

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: association_type; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.association_type (
    relationship_type_id integer NOT NULL,
    relationship_type character varying(100) NOT NULL,
    inverse_type_id integer
);


ALTER TABLE public.association_type OWNER TO chartracker;

--
-- Name: association_type_relationship_type_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.association_type ALTER COLUMN relationship_type_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.association_type_relationship_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO chartracker;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO chartracker;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO chartracker;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO chartracker;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO chartracker;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO chartracker;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: character; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public."character" (
    character_id integer NOT NULL,
    char_name character varying(100) NOT NULL,
    char_origin character varying(255),
    backstory_summary text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    char_class_id integer,
    race_id integer,
    user_id integer NOT NULL
);


ALTER TABLE public."character" OWNER TO chartracker;

--
-- Name: character_association; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.character_association (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    from_character_id integer NOT NULL,
    relationship_type_id integer,
    to_character_id integer NOT NULL
);


ALTER TABLE public.character_association OWNER TO chartracker;

--
-- Name: character_association_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.character_association ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.character_association_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: character_character_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public."character" ALTER COLUMN character_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.character_character_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: character_class; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.character_class (
    char_class_id integer NOT NULL,
    char_class_name character varying(100) NOT NULL
);


ALTER TABLE public.character_class OWNER TO chartracker;

--
-- Name: character_class_char_class_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.character_class ALTER COLUMN char_class_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.character_class_char_class_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: character_race; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.character_race (
    char_race_id integer NOT NULL,
    char_race_name character varying(100) NOT NULL
);


ALTER TABLE public.character_race OWNER TO chartracker;

--
-- Name: character_race_char_race_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.character_race ALTER COLUMN char_race_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.character_race_char_race_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO chartracker;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO chartracker;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO chartracker;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: chartracker
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: chartracker
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO chartracker;

--
-- Name: association_type association_type_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.association_type
    ADD CONSTRAINT association_type_pkey PRIMARY KEY (relationship_type_id);


--
-- Name: association_type association_type_relationship_type_key; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.association_type
    ADD CONSTRAINT association_type_relationship_type_key UNIQUE (relationship_type);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: character_association character_association_from_character_id_to_cha_f1e9e3c4_uniq; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.character_association
    ADD CONSTRAINT character_association_from_character_id_to_cha_f1e9e3c4_uniq UNIQUE (from_character_id, to_character_id, relationship_type_id);


--
-- Name: character_association character_association_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.character_association
    ADD CONSTRAINT character_association_pkey PRIMARY KEY (id);


--
-- Name: character_class character_class_char_class_name_key; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.character_class
    ADD CONSTRAINT character_class_char_class_name_key UNIQUE (char_class_name);


--
-- Name: character_class character_class_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.character_class
    ADD CONSTRAINT character_class_pkey PRIMARY KEY (char_class_id);


--
-- Name: character character_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public."character"
    ADD CONSTRAINT character_pkey PRIMARY KEY (character_id);


--
-- Name: character_race character_race_char_race_name_key; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.character_race
    ADD CONSTRAINT character_race_char_race_name_key UNIQUE (char_race_name);


--
-- Name: character_race character_race_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.character_race
    ADD CONSTRAINT character_race_pkey PRIMARY KEY (char_race_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: association_type_inverse_type_id_ec4335c3; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX association_type_inverse_type_id_ec4335c3 ON public.association_type USING btree (inverse_type_id);


--
-- Name: association_type_relationship_type_c14c6760_like; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX association_type_relationship_type_c14c6760_like ON public.association_type USING btree (relationship_type varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: character_association_from_character_id_38fd384b; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX character_association_from_character_id_38fd384b ON public.character_association USING btree (from_character_id);


--
-- Name: character_association_relationship_type_id_7ebcb974; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX character_association_relationship_type_id_7ebcb974 ON public.character_association USING btree (relationship_type_id);


--
-- Name: character_association_to_character_id_23c19c5f; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX character_association_to_character_id_23c19c5f ON public.character_association USING btree (to_character_id);


--
-- Name: character_char_class_id_d37866b7; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX character_char_class_id_d37866b7 ON public."character" USING btree (char_class_id);


--
-- Name: character_class_char_class_name_1d08deb7_like; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX character_class_char_class_name_1d08deb7_like ON public.character_class USING btree (char_class_name varchar_pattern_ops);


--
-- Name: character_race_char_race_name_0d35ced2_like; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX character_race_char_race_name_0d35ced2_like ON public.character_race USING btree (char_race_name varchar_pattern_ops);


--
-- Name: character_race_id_cf7f7b3e; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX character_race_id_cf7f7b3e ON public."character" USING btree (race_id);


--
-- Name: character_user_id_e5a717c3; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX character_user_id_e5a717c3 ON public."character" USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: chartracker
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: association_type association_type_inverse_type_id_ec4335c3_fk_associati; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.association_type
    ADD CONSTRAINT association_type_inverse_type_id_ec4335c3_fk_associati FOREIGN KEY (inverse_type_id) REFERENCES public.association_type(relationship_type_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: character_association character_associatio_from_character_id_38fd384b_fk_character; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.character_association
    ADD CONSTRAINT character_associatio_from_character_id_38fd384b_fk_character FOREIGN KEY (from_character_id) REFERENCES public."character"(character_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: character_association character_associatio_relationship_type_id_7ebcb974_fk_associati; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.character_association
    ADD CONSTRAINT character_associatio_relationship_type_id_7ebcb974_fk_associati FOREIGN KEY (relationship_type_id) REFERENCES public.association_type(relationship_type_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: character_association character_associatio_to_character_id_23c19c5f_fk_character; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.character_association
    ADD CONSTRAINT character_associatio_to_character_id_23c19c5f_fk_character FOREIGN KEY (to_character_id) REFERENCES public."character"(character_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: character character_char_class_id_d37866b7_fk_character; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public."character"
    ADD CONSTRAINT character_char_class_id_d37866b7_fk_character FOREIGN KEY (char_class_id) REFERENCES public.character_class(char_class_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: character character_race_id_cf7f7b3e_fk_character_race_char_race_id; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public."character"
    ADD CONSTRAINT character_race_id_cf7f7b3e_fk_character_race_char_race_id FOREIGN KEY (race_id) REFERENCES public.character_race(char_race_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: character character_user_id_e5a717c3_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public."character"
    ADD CONSTRAINT character_user_id_e5a717c3_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chartracker
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict jSsOCBQznaYeebAyUecOhMXMGbmyy6FglAgzclVYWhXg4FN4dDNnlNunoSYJZAU

